<!DOCTYPE html>
<html>
   <head>
    <meta charset="UTF-8">
    <title> iTunes sercher</title>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular.min.js">
      </script> 
      <style type="text/css">
        body{
          background-color: #f5f6f7;
          font-family: 'Lucida Grande', 'Lucida Sans Unicode', Arial, Verdana, sans-serif;
        }
        tr:nth-child(odd){
          background-color: #d1d1d1;

        }
        tr:nth-child(even){
          background-color: white;
        }
        td{
          text-align: center;
          border: black 2px solid;
        }
        .butn{
          text-align: left;
          cursor: pointer;
        }

        a{
          text-decoration: none;
          color: black;
        }
        table{
          margin: 0 auto;
          border-collapse: separate;
          font-size: 12px;
        }
        .searchBox{
          margin-top: 5px;
          text-align: center;
        }
        #results{
          background-color: white;
          border-radius: 5px;
          border-color: #AEBDCB;
          margin-left: 15%;
          margin-right: 15%;
        }
        #banner{
          text-align: center;
         
          color: white;
          background-color: black;
          margin-top: -6px;
          font-size: 10px;
          padding-top:2px;
          padding-bottom: 2px;
        }
        tr:hover{
          background-color: #d1dff0;
        }
        .butn:hover{
          text-decoration: underline;
          
        }
        #banner img{
          width: 16px;
          height: 20px;
        }
        #banner img:hover{
          cursor: pointer;
        }
      </style>      
   </head>
   <link href='./logo1.png' rel='shortcut icon' type='image/png'>
   <body ng-app="myApp" ng-controller="MainController" ng-init="searchTerms='acdc'">
    <div id="banner">
      <h1> <a href="https://www.apple.com/"> <img src="./logo.png"></img> </a> iTunes music searcher</h1>
    </div>
      <div class="searchBox">
        <input ng-model="searchTerms" />
        <button ng-click="search();display()">Search</button>
        
      </div>
      
      <div id="results">
         
        <table >
          <tr id="hd" style="display: none; font-weight: bold;">
            <td>Disc Cover</td>
            <td> Play</td>
            <td>Name</td>
            <td>Artist</td>
            <td>Album</td>
            <td>Genere</td>
            <br>
          </tr>
          <tr ng-repeat="res in results" >
            <td> <img src = "{{res.artworkUrl60}}"> </td>
            <td><button ng-click="play( res.previewUrl )" class="butn">♫</button></td>
            <td >{{ res.trackName }}</td>
            <td class="butn"><a href="{{res.artistViewUrl}}">{{res.artistName}}</td>
            <td class="butn"> <a href="{{res.collectionViewUrl}}"> {{res.collectionName}}</td>
            <td>{{res.primaryGenreName}}</td> 
          </tr>
         </table>
      </div>

      <audio id="sample" autoplay />

      <script>
        var ITUNES_SEARCH_URL = 'https://itunes.apple.com/search?term=<<SEARCH_TERMS>>&media=music&entity=musicTrack&callback=JSON_CALLBACK';

        var app = angular.module("myApp", []);

        app.controller('MainController', ['$scope', '$http', function($scope, $http){
        	$scope.currentSearch = '';

        	$scope.search = function() {
        		$scope.currentSearch = $scope.searchTerms;

        		var xhr = $http.jsonp(ITUNES_SEARCH_URL.replace("<<SEARCH_TERMS>>", $scope.searchTerms));
        		xhr.success( function(response) {
        		   $scope.results = response.results; 
        		});
        	};

        	$scope.play = function(url) {
        		var audio = document.getElementById('sample');
        		audio.setAttribute("src", url);
        	};
          $scope.stop = function (){
            var audio = document.getElementById('');
            audio.setAttribute("src" );
          };
          $scope.display=function(){
            var i =document.getElementById("hd");
            i.style.display= "table-row";       
          };
        }]);
        
      </script>
   </body>
</html>






